section.banner {
    // min-height: 400px;
    display: flex;
    justify-content: center;
    // align-items: center; 
    img {
        max-width: initial;
    }
    .for-desktop {
        @media (max-width: 1280px) {
            display: none;
        }
    }
    .for-laptop {
        display: none;
        @media (max-width: 1280px) {
            display: block;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    .for-tablet {
        display: none;
        @media (max-width: 768px) {
            display: block;
        }
        @media (max-width: 376px) {
            display: none;
        }
    }
    .for-mobile {
        @media (max-width: 9999px) {
            display: none;
        }
        @media (max-width: 375px) {
            display: block;
        }
    }
    .text-wrapper {
        position: absolute;
        .heading {
            font-style: normal;
            font-weight: 500;
            font-size: 56px;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            margin-bottom: 0;
            padding-top: 267px;
            @media (max-width: 1280px) {
                font-size: 48px;
                line-height: 120%;
                padding-top: 188px;
            }
            @media (max-width: 767px) {
                font-size: 32px;
                padding-top: 208px;
            }
        }
    }
}