section.cta-download {
    .container-wrapper {
        margin-top: 97px;
        margin-bottom: 11px;
        //  Only 11px because it already has a top margin of 50px and a top padding of 70px coming from the Explore More section.
        padding: 0 45px;
        .row {
            .download-wrapper {
                background: #F1F5F6;
                width: 996px;
                padding: 31px 44px 32px 38px;
                svg {
                    vertical-align: top;
                }
                .download-content {
                    display: inline-block;
                    padding-left: 24px;
                    padding-right: 182px;
                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 120%;
                        letter-spacing: -0.02em;
                        color: #203940;
                        margin-bottom: initial;
                    }
                    p.file-size {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 170%;
                        color: #13272C;
                        opacity: 0.7;
                    }
                }
                .btn.cta-dowload-button {
                    width: 177px;
                    height: 60px;
                    background: #000000;
                    color: #FFFFFF;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: top;
                    border-radius: initial;
                }
            }
        }
    }
}