section.image-with-text {
    .container-wrapper {
        padding: 0 60px;
        .row {
            margin-top: 117px;
            .col-xxl-5 {
                padding-left: initial;
                padding-right: initial;
                img {
                    height: 527px;
                }
            }
            .col-xxl-7 {
                padding-left: 49px;
                //Just 49px because the left column has an extra space width of 67.33px (116px - 67.33px).  
                padding-right: initial;
                margin: auto;
                h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 42px;
                    line-height: 140%;
                    letter-spacing: -0.02em;
                    color: #203940;
                    margin-bottom: 38px;
                }
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 170%;
                    color: #13272C;
                    opacity: 0.7;
                    margin-bottom: 30.6px;
                }
            }
        }
    }

    &.right-layout{
        .container-wrapper{
            padding: 0 60px;
            .row {
                margin-top: 46px;
                .col-xxl-5 {
                    margin-top: initial;
                    padding-right: initial;   
                    padding-left: initial;
                    img {
                        float: right;
                    }
                } 
                .col-xxl-7 {
                    margin: auto;
                    padding-left: initial;
                    padding-right: 49px;
                    //Just 49px because the left column has an extra space width of 67.33px (116px - 67.33px). 
                    h3 {
                        margin-bottom: 24px;
                        font-size: 36px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}