section.image-with-text {
    .container-wrapper {
        padding: 117px 88px 0;
        @media (max-width: 1600px) {
            padding: 94px 38px 0;
        }
        @media (max-width: 1279px) {
            padding: 90px 28px 0px;
        }
        @media (max-width: 767px) {
            padding: 71px 0 0;
        }
        .row {
            @media (max-width: 1279px) {
                display: flex;
                flex-direction: column-reverse;
            }
            margin: 0;
            .col-xxl-5 {
                padding-left: initial;
                padding-right: initial;
                width: 37%;
                @media (max-width: 1399px) {
                    width: auto;
                }
                @media (max-width: 1279px) {
                    width: -webkit-fill-available;
                }
                .for-desktop {
                    height: 527px;
                    @media (max-width: 1399px) {
                        max-width: 528px;
                        height: 492px;
                    }
                    @media (max-width: 1279px) {
                        display: none;
                    }
                }
                .for-tablet {
                    display: none;
                    @media (max-width: 1279px) {
                        display: block;
                        min-width: 100%;
                    }
                }
            }
            .col-xxl-7 {
                padding-left: 116px;
                padding-right: 0;
                margin: 0;
                @media (max-width: 1600px) {
                    width: 63%;
                }
                @media (max-width: 1399px) {
                    width: 55%;
                    padding-left: 72px;
                }
                @media (max-width: 1279px) {
                    width: auto;
                    padding: 0 0 57px 0;
                }
                @media (max-width: 767px) {
                    width: auto;
                    padding: 0 0 54px 0;
                }
                h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 42px;
                    line-height: 140%;
                    letter-spacing: -0.02em;
                    color: #203940;
                    margin-bottom: 17px;
                    @media (max-width: 1399px) {
                        font-size: 36px;
                        margin-bottom: 16px;
                    }
                    @media (max-width: 767px) {
                        font-size: 28px;
                    }
                }
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 170%;
                    color: #13272C;
                    opacity: 0.7;
                    margin-bottom: 30.6px;
                    @media (max-width: 1399px) {
                        font-size: 16px;
                        margin-bottom: 27px;
                    }
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    &.right-layout{
        .container-wrapper{
            padding: 0 60px;
            .row {
                margin-top: 46px;
                .col-xxl-5 {
                    margin-top: initial;
                    padding-right: initial;   
                    padding-left: initial;
                    img {
                        float: right;
                    }
                } 
                .col-xxl-7 {
                    margin: auto;
                    padding-left: initial;
                    padding-right: 49px;
                    h3 {
                        margin-bottom: 24px;
                        font-size: 36px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}