section.list-of-adventures {
    .container-wrapper {
        padding: 0px 255px 56px;
        @media (max-width: 1600px) {
            padding: 0 155px 56px;
        }
        @media (max-width: 1399px) {
            padding: 0 38px 56px;
        }
        @media (max-width: 1200px) {
            padding: 0 28px 56px;
        }
        @media (max-width: 767px) {
            padding: 0 0 36px;
        }
        .heading {
            line-height: 140%;
            color: #203940;
            margin-bottom: 12px;
            @media (max-width: 1399px) {
                font-size: 36px;
            }
            @media (max-width: 767px) {
                font-size: 28px;
                margin-bottom: 8px;
            }
        }
        p {
            // font-family: 'Cera Pro';
            font-weight: 400;
            font-size: 18px;
            line-height: 170%;
            color: #13272C;
            opacity: 0.7;
            margin-bottom: 42px;
            @media (max-width: 1399px) {
                font-size: 16px;
                margin-bottom: 55px;
            }
            @media (max-width: 1200px) {
                font-size: 16px;
                margin-bottom: 42px;
            }
            @media (max-width: 767px) {
                margin-bottom: 24px;
            }
        }
        .item-wrapper {
            padding: 0;
            margin-bottom: 27px;
            @media (max-width: 1399px) {
                margin-bottom: 29px;
            }
            .icon {
                padding-right: 32px;
                @media (max-width: 1399px) {
                    padding-right: 34px;
                }
                @media (max-width: 767px) {
                    padding-right: 19px;
                }
                svg {
                    @media (max-width: 1399px) {
                        width: 27px;
                        height: 27px;
                    }
                    @media (max-width: 767px) {
                        width: 21px;
                        height: 21px;
                    }
                }
            }
            .label {
                // font-family: 'Cera Pro';
                font-weight: 500;
                font-size: 24px;
                line-height: 120%;
                letter-spacing: -0.02em;
                color: #203940;
                margin: 0;
                @media (max-width: 1399px) {
                    font-size: 20px;
                }
                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
        }
        .horizontal-line {
            border: 1px solid #D2D2D2;
            margin-top: 29px;
            margin-bottom: 0px;
            @media (max-width: 1399px) {
                margin-top: 25px;
            }
            @media (max-width: 767px) {
                margin-top: 7px;
            }
        }
    }
}

body {
    &.page-id-489 {
        section {
            &#list-of-adventures-4 {
                padding-top: 101px;
                @media (max-width: 1399px) {
                    padding-top: 131px;
                }
                @media (max-width: 1200px) {
                    padding-top: 90px;
                }
                @media (max-width: 767px) {
                    padding-top: 54px;
                }
            }
        }
    }
    &.page-id-489 {
        section {
            &#list-of-adventures-7 {
                .container-wrapper {
                    padding: 0px 255px 28px;
                    @media (max-width: 1600px) {
                        padding: 0 155px 56px;
                    }
                    @media (max-width: 1399px) {
                        padding: 0 38px 64px;
                    }
                    @media (max-width: 1200px) {
                        padding: 0 28px 20px;
                    }
                    @media (max-width: 767px) {
                        padding: 0;
                        margin-bottom: -28px;
                    }
                    .row {
                        .col-xxl-4 {
                            .item-wrapper {
                                @media (max-width: 1200px) {
                                    margin-bottom: 0;
                                }
                                @media (max-width: 1200px) {
                                    margin-bottom: 28px;
                                }
                            }
                        }
                    }
                    hr {
                        display: none;
                    }
                }
            }
        }
    }
}