section.region-post-slider {
    .container-wrapper {
        padding: 89px 85px 0;
        .heading-wrapper {
            justify-content: space-between;
            margin-bottom: 50px;
            .heading {
                margin: 0;
            }
            .view-all {
                // font-family: 'Cera Pro';
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #13272C;
                width: 155px;
                height: 50px;
                border: solid 1px #13272C;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .post-item-slider {
            .slick-track {
                display: flex;
                gap: 24px;
                transform: translate3d(-1552px, 0px, 0px) !important;
                margin-bottom: 50px;
                .post-item-slider-wrapper {
                    position: relative;
                    width: auto !important;
                    img {
                        width: 100%;
                    }
                    .title {
                        // font-family: 'Cera Pro';
                        font-size: 28px;
                        line-height: 120%;
                        letter-spacing: -0.02em;
                        color: #203940;
                        margin: 32px 0 12px;
                        width: 486px;
                    }
                    p {
                        // font-family: 'Cera Pro';
                        font-size: 18px;
                        line-height: 170%;
                        color: #13272C;
                        opacity: 0.7;
                        margin: 0;
                    }
                    .number-of-days {
                        position: absolute;
                        top: 0;
                        right: 11px;
                        background: #203940;
                        width: 75px;
                        padding: 6px 0px 13px;
                        h4 {
                            // font-family: 'Cera Pro';
                            font-weight: 500;
                            font-size: 36px;
                            line-height: 120%;
                            letter-spacing: -0.02em;
                            color: #FFFFFF;
                            margin: 0;
                        }
                        span {
                            font-size: 14px;
                            line-height: normal;
                            text-transform: uppercase;
                            display: block;
                            margin: 0;
                        }
                    }
                }
            }
            &.slick-dotted.slick-slider {
                margin-bottom: 0;
                .slick-prev {
                    z-index: 1;
                    left: -35px;
                    top: 300px;
                    &::before {
                        display: none;
                    }
                }
                .slick-next {
                    z-index: 1;
                    right: 5px;
                    top: 300px;
                    &::before {
                        display: none;
                    }
                }
                .slick-dots {
                    display: flex;
                    bottom: 0;
                    li {
                        background: #EBF0F1;
                        overflow: hidden;
                        flex: 1;
                        width: 100%;
                        height: 8px;
                        margin: 0;
                        button {
                            background: #5A686B;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            transition: width .5s ease;
                        }
                        &.slick-active {
                            & ~ li {
                                button {
                                    background: #EBF0F1 !important;
                                    width: 0%;
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}