section.sample-itineraries {
    padding-bottom: 39px;
    .container-wrapper {
        margin-top: 92px;
        padding: 0 45px;
        .row {
            margin: 0;
            .col-xxl-12 {
                padding: 0;
                .sample-itineraries-content {
                    display: flex;
                    align-items: center;
                    padding: 0px 9px 0px 0px;
                    margin-bottom: 50px;
                    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
                    .text-content {
                        padding-left: 69px;
                        padding-right: 49px;
                        .sample-itineraries-title {
                            font-weight: 500;
                            font-size: 36px;
                            line-height: 120%;
                            letter-spacing: -0.02em;
                            color: #13272C;
                            margin-bottom: 14px;
                        }
                        .wysiwyg-destination {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            letter-spacing: -0.02em;
                            color: #203940;
                            opacity: 0.7;
                            margin-bottom: 31px;
                        }
                        .sample-itineraries-description {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 170%;
                            color: #13272C;
                            opacity: 0.7;
                            margin-bottom: 0;
                        }
                    }
                    .map-placeholder {
                        height: fit-content;
                    }
                }
            }
            .more-itineraries {
                background: #000000;
                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                width: 237px;
                height: 60px;
                border-radius: initial;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}