section.steps {
    .container-wrapper {
        padding: 0 45px;
        margin-top: 116px;
        .row {
            h3 {
                font-style: normal;
                font-weight: 500;
                font-size: 42px;
                line-height: 140%;
                letter-spacing: -0.02em;
                color: #203940;
                margin-bottom: 68px;
            }
            .col {
                h6 {
                    padding-top: 25px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 120%;
                    letter-spacing: -0.02em;
                    color: #203940;
                    margin-bottom: initial;
                }
                .number-wrapper {
                    background: #F1F5F5;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 750px;
                    margin: auto;
                    margin-top: 26px;
                    margin-bottom: 21px;
                    h5 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 120%;
                        letter-spacing: -0.02em;
                        color: #203940;
                        opacity: 0.4;
                    }
                }
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 170%;
                    color: #13272C;
                    opacity: 0.7;
                    margin-bottom: initial;
                }
            }
        }
    }
}
