section.single-region-description {
    margin-top: 105px;
    margin-bottom: 69.4px;
    .col-xxl-3 {
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 110px;
        img {
            padding-top: 80px;
        }
    }
    .col-xxl-5 {
        padding-left: 0px;
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: #203940;
            margin-bottom: 0px;
            padding-bottom: 29px;
        }
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 170%;
            color: #13272C;
            opacity: 0.7;
            margin-bottom: 30.6px;
            max-width: 740px;
        }
    }
    .col-xxl-4 {
        padding-left: 0px;
    }
}

section.single-region-about {
    margin-bottom: 69.4px;
    .col-xxl-3 {
        padding-left: 0px;
        padding-right: 110px;
        img {
            margin-bottom: 48px;
        }
        img.second_image {
            padding-top: 100px;
        }
    }
    .col-xxl-9 {
        padding-left: 0px;
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: #203940;
            margin-bottom: 44px;
        }
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 170%;
            color: #13272C;
            opacity: 0.7;
            margin-bottom: 30.6px;
            max-width: 740px;
        }
    }
}

section.single-region-summary {
    .col-xxl-3 {
        padding-left: 0px;
        padding-right: 110px;
        img {
            margin-bottom: 48px;
        }
    }
    .col-xxl-9 {
        padding-left: 0px;
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: #203940;
            margin-bottom: 44px;
        }
    }
}