section.single-region-description {
    margin-top: 105px;
    margin-bottom: 69.4px;
    .col-xxl-3 {
        padding-left: 0;
        margin-right: 0;
        padding-right: 110px;
        img {
            padding-top: 87px;
        }
    }
    .col-xxl-5 {
        padding-left: 0;
        padding-right: 0;
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: #203940;
            margin-bottom: 0;
            padding-bottom: 29px;
        }
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 170%;
            color: #13272C;
            opacity: 0.7;
            margin-bottom: 30.6px;
            max-width: 740px;
        }
    }
    .col-xxl-4 {
        padding-left: 85px;
        padding-right: 0;
    }
}

section.single-region-about {
    margin-bottom: 69.4px;
    .col-xxl-3 {
        padding-left: 0px;
        padding-right: 110px;
        img {
            margin-bottom: 48px;
        }
        img.second_image {
            padding-top: 87px;
        }
    }
    .col-xxl-9 {
        padding-left: 0px;
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: #203940;
            margin-bottom: 44px;
        }
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 170%;
            color: #13272C;
            opacity: 0.7;
            margin-bottom: 30.6px;
            max-width: 740px;
        }
    }
}

section.single-region-summary {
    .col-xxl-3 {
        margin-top: 87px;
        padding-left: 0px;
        padding-right: 110px;
        img {
            margin-bottom: 48px;
        }
    }
    .col-xxl-9 {
        padding-left: 0px;
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: #203940;
            margin-bottom: 44px;
        }
        p {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 170%;
            color: #13272C;
            opacity: 0.7;
            margin-bottom: 24px;
        }
        .test {
            display: flex;
            p.summary_labels {
                flex: 0 0 204px;
                margin-right: 46px;
                height: 41px;
            }
            p.summary_labels_description {
                font-weight: 400;
                max-width: 490px;
            }
        }
        .contact_us {
            margin-top: 54px;
            margin-bottom: 56px;
            h3 {
                margin-bottom: 35px;
            }
            p {
                font-weight: 400;
                opacity: inherit;
                a {
                    font-weight: 700;
                    color: #42BA7D;
                    text-decoration: none;
                }
            }
        }
    }
}